<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alpha Blog - About</title>
</head>
<body>
    <header>
      <h1>About Me</h1>
    </header>
    <nav>
      <ul>
        <li><a href="#"><%= link_to 'Home', root_path %></a></li>
          <li><a href="#">About</a></li>
        <li><a href="#"><%= link_to 'Blog', articles_path %></a></li>
        <li><a href="#">Shop</a></li>
        <li><a href="#">Gallary</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
    <section>
<p>Interdum fugit mi semper! Recusandae qui. Molestiae proident proin penatibus eu occaecat libero, pellentesque commodo, sagittis magnam, illum, incididunt ea, cubilia neque nihil nihil sagittis illum, doloremque volutpat arcu maecenas bibendum vehicula facilisis nulla commodo nesciunt. Netus curabitur iusto ratione laudantium incididunt praesentium reiciendis pretium nisi nihil voluptatem. Vestibulum suspendisse phasellus aliqua. Nostrud, esse adipiscing sequi, incidunt! Hendrerit sodales quidem sodales non numquam. Dicta irure, diamlorem proident libero, accusantium dolorem. Congue similique sociosqu rutrum venenatis corrupti arcu integer magni voluptatibus, et eget sed laoreet vitae, cupiditate et placerat mollit voluptatem aptent reiciendis, proin perferendis. Consectetur, saepe non magna? Nibh, posuere.</p>
<p>Interdum fugit mi semper! Recusandae qui. Molestiae proident proin penatibus eu occaecat libero, pellentesque commodo, sagittis magnam, illum, incididunt ea, cubilia neque nihil nihil sagittis illum, doloremque volutpat arcu maecenas bibendum vehicula facilisis nulla commodo nesciunt. Netus curabitur iusto ratione laudantium incididunt praesentium reiciendis pretium nisi nihil voluptatem. Vestibulum suspendisse phasellus aliqua. Nostrud, esse adipiscing sequi, incidunt! Hendrerit sodales quidem sodales non numquam. Dicta irure, diamlorem proident libero, accusantium dolorem. Congue similique sociosqu rutrum venenatis corrupti arcu integer magni voluptatibus, et eget sed laoreet vitae, cupiditate et placerat mollit voluptatem aptent reiciendis, proin perferendis. Consectetur, saepe non magna? Nibh, posuere.</p>
<p>Interdum fugit mi semper! Recusandae qui. Molestiae proident proin penatibus eu occaecat libero, pellentesque commodo, sagittis magnam, illum, incididunt ea, cubilia neque nihil nihil sagittis illum, doloremque volutpat arcu maecenas bibendum vehicula facilisis nulla commodo nesciunt. Netus curabitur iusto ratione laudantium incididunt praesentium reiciendis pretium nisi nihil voluptatem. Vestibulum suspendisse phasellus aliqua. Nostrud, esse adipiscing sequi, incidunt! Hendrerit sodales quidem sodales non numquam. Dicta irure, diamlorem proident libero, accusantium dolorem. Congue similique sociosqu rutrum venenatis corrupti arcu integer magni voluptatibus, et eget sed laoreet vitae, cupiditate et placerat mollit voluptatem aptent reiciendis, proin perferendis. Consectetur, saepe non magna? Nibh, posuere.</p>
    </section>
</body>
</html>
